nav {
  text-align: center;
}
.container {
  height: 20rem;
  width: 40rem;
  overflow-y: auto;
  border: 2px solid black;
}

#send-container {
  width: 50rem;
  display: flex;
}

#messageInp {
  width: 37rem;
}
